{% extends "base.html" %}

{% block title %}
    Kampaniyalar
{% endblock title %}

{% block content %}
      <div class="container py-5 mt-4">
          <h1 class="text-primary mb-5 ">Kampaniyalar</h1>
          <div class="d-flex flex-column justify-content-between pt-4">
            {% for data in datas %}
            <a href="company/detail/{{ data.id }}" class="text-dark h4 mb-2">{{ data.name }}</a>
            <hr style="background: #ccc height: 1px; width: 100%;">
            {% endfor %}
          </div> 
      </div>
      <div class="container d-flex justify-content-center">
          <nav aria-label="Page navigation example">
              <ul class="pagination pagination-lg">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
          </nav>
      </div>
{% endblock content %}
    